@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* gap: 10px; */
  max-width: 100%;
}

.image-grid img:hover {
  transform: scale(1.01);
}
.image-grid img {
  transition: transform 0.3s ease-in-out;
}

@media (min-width: 600px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 900px) {
  .image-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.image-grid {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300; /* Opcional: Defina o peso da fonte desejado */
}
